header{
    background-color:  #17072b;
}

#heading{
    text-align: center;
    color:  #FFFFFF;
}

#nav{
    text-align: center;
    color: #FFFFFF;
    margin-right: 40px;
}

main {
    display: flex;
    gap: 20px; /* Optional: spacing between article and aside */
    padding: 20px;
}

#digifest1{
    height:300px;
    width: 600px
}

aside{
    background-color: #172d67;
    float: right;    
}

#subheading{
    color: #FFFFFF;
}

#side{
    color: #FFFFFF;
}

.column{
    float:left;
}

.row {
    float: right;
}

#copyright{
    text-align: center;
    color: #FFFFFF;
}

footer{
    background-color:#8c15e9;
}